<div class="advantages">
    <h2 class="title">advantages</h2>
    <ul class="item">
        <li class="list-item">
            <p class="number">721</p>
            <p class="description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="list-item">
            <p class="number">16kg</p>
            <p class="description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="list-item">
            <p class="number">84</p>
            <p class="description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
       
       
    </ul>
</div>
